<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400216112469-bd5cqk40991o7j8u5j6uv2kgtjp79rg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400216112469-bd5cqk40991o7j8u5j6uv2kgtjp79rg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBCYU68HCwzblmQ8puF8MA0ZzNk1xjxFxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>400216112469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FilGudInc.ToDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todofire-81ac7</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-81ac7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400216112469:ios:9e6c6f337e02f9aba743dc</string>
</dict>
</plist>